<section id="catering" class="active">
  <h2 id="catering-title">Catering</h2>
  <div id="menu">
    <div id="col-1">
      <div id="menu-1">
        <div>
          <h3>Full Afternoon Tea to Go - $24.95</h3>
          <h4>
            Five finger sandwiches (Jubilee chicken, egg salad, cucumber, and
            salmon), scone, clotted cream, jam, mini-sausage roll, two sweet
            treats, and one individual teabag of choice.
          </h4>
        </div>
        <div>
          <h3>King Charles Tea - $20.00</h3>
          <h4>
            Four finger sandwiches (one choice of filling), scone, clotted
            cream, jam, mini-sausage roll, and one sweet treat.
          </h4>
        </div>
        <div>
          <h3>Light Lunch Tea - $19.95</h3>
          <h4>
            Five finger sandwiches (Jubilee chicken, egg salad, cucumber, and
            salmon), scone, clotted cream, jam, mini-sausage roll, one sweet
            treat, and one individual teabag of choice.
          </h4>
        </div>
        <div>
          <h3>Sir Winston - $5.00</h3>
          <h4>Four finger sandwiches (one choice of filling).</h4>
        </div>
        <div>
          <h3>Shepherd's Pie - $12.00</h3>
          <h4>
            Traditional English dish with ground beef, carrots, peas, onions,
            and covered with mashed potatoes and Irish cheddar cheese.
          </h4>
        </div>
      </div>
    </div>
    <div id="col-2">
      <div id="menu-2">
        <div>
          <h3>Victoria Sponge Cake - $25.00</h3>
          <h4>
            Large light vanilla sponge cake with buttercream and strawberry jam.
          </h4>
        </div>
        <div>
          <h3>Mini-Victoria Sponge Cake - $4.00</h3>
          <h4>
            Cupcake-size light vanilla sponge cake with buttercream and
            strawberry jam.
          </h4>
        </div>
        <div>
          <h3>Pavlova - $3.50</h3>
          <h4>
            Meringue topped with fresh cream, raspberry, and sprinkled with
            Cadbury chocolate.
          </h4>
        </div>
        <div>
          <h3>Bag of Looseleaf Tea (4 oz.) - $12.00</h3>
          <h4>Buckingham Palace - $14.00</h4>
          <h4>Lady Blue</h4>
          <h4>Angel's Dream</h4>
          <h4>Lady Godiva</h4>
          <h4>English Breakfast</h4>
          <h4>Earl Grey</h4>
          <h4>Lady Londonderry</h4>
          <h4>Yummy Berry (Caffeine-Free)</h4>
          <h4>Indian Spice Chai</h4>
          <h4>Oolong Orange Blossom</h4>
        </div>
      </div>
    </div>
  </div>
</section>
