<section id="catering" class="inactive">
  <div>
    <h3>Full Afternoon Tea to Go - $24.95</h3>
    <h4>
      Five finger sandwiches (Jubilee chicken, egg salad, cucumber, and salmon),
      scone, clotted cream, jam, mini-sausage roll, two sweet treats, and one
      individual teabag of choice.
    </h4>
  </div>
  <div>
    <h3>King Charles Tea - $20.00</h3>
    <h4>
      Four finger sandwiches (one choice of filling), scone, clotted cream, jam,
      mini-sausage roll, and one sweet treat.
    </h4>
  </div>
  <div>
    <h3>Light Lunch Tea - $19.95</h3>
    <h4>
      Five finger sandwiches (Jubilee chicken, egg salad, cucumber, and salmon),
      scone, clotted cream, jam, mini-sausage roll, one sweet treat, and one
      individual teabag of choice.
    </h4>
  </div>
  <div>
    <h3>Sir Winston - $5.00</h3>
    <h4>Four finger sandwiches (one choice of filling).</h4>
  </div>
  <div>
    <h3>Shepherd's Pie - $12.00</h3>
    <h4>
      Traditional English dish with ground beef, carrots, peas, onions, and
      covered with mashed potatoes and Irish cheddar cheese.
    </h4>
  </div>
  <div>
    <h3>Victoria Sponge Cake - $25.00</h3>
    <h4>
      Large light vanilla sponge cake with buttercream and strawberry jam.
    </h4>
  </div>
</section>
