<head>
    <link type='text/css' rel='stylesheet' href='static/css/footer.css'>
</head>
<footer>
    <div id='contact'></div>
      <h4>221 E Zaragoza St, Pensacola, FL 32502</h4>
      <h4>(850) 542-7969</h4>
    </div> 
</footer>