<section id="full-lunch" class="active">
  <h2 id="full-title">Full Lunches & Tea Set</h2>
  <div id="menu">
    <div id="col-1">
      <div id="menu-1">
        <h2>English Light Lunches</h2>
        <div>
          <h3>Tea Sandwiches with Crust - $7.95</h3>
          <h4>
            Choice of egg salad, smoked salmon, cucumber, and cream cheese;
            jubilee chicken or cucumber, chives, and cream cheese. Served with
            salad or kettle chips.
          </h4>
        </div>
        <div>
          <h3>The Ploughman's Lunch - $12.95</h3>
          <h4>
            Hearty slice of ham, hunk of cheddar cheese, Branston pickle,
            pickled onions, grapes, salad, and bread. (Add smoked salmon for
            $3.00)
          </h4>
        </div>
        <div>
          <h3>Jubilee Chicken - $10.95</h3>
          <h4>
            Indian-style creamy chicken salad ith grapes served with your choice
            of fresh croissant or green salad for gluten free option. Served
            with salad or kettle crisps.
          </h4>
        </div>
        <div>
          <h3>Sausage Roll - $7.95</h3>
          <h4>
            One large sage and lemon pork sausage roll wrapped in puff pastry.
            Served with salad or kettle crisps.
          </h4>
        </div>
        <div>
          <h3>Egg Salad - $10.95</h3>
          <h4>
            Deluxe creamy egg salad with copped red onions served with your
            choice of fresh croissant or green salad for a gluten free option.
            Served with salad or kettle crisps.
          </h4>
        </div>
      </div>
      <!-- END OF LIGHT LUNCHES MENU-->

      <div id="menu-2">
        <div>
          <h2>Full Afternoon Tea</h2>
          <div>
            <h3>The Palace Tea - $33 per person</h3>
            <h4>
              The full monte... an assortment of finger sandwiches, sausage
              roll, scone with clotted cream and jam, selection of three sweet
              treats, and a choice of a pot of tea.
            </h4>
          </div>
          <div>
            <h3>Children's Tea (11 and under) - $23 per person</h3>
            <h4>Smaller version of the Palace Tea.</h4>
          </div>
          <div>
            <h3>The Palace Tea To-Go Version - $24.95</h3>
          </div>
        </div>
      </div>
    </div>

    <!-- END OF COL 1-->

    <div id="col-2">
      <div id="menu-3">
        <h2>Sweet Treats</h2>
        <div>
          <h3>Victoria Sponge Cake - $5.95</h3>
          <h4>Light vanilla sponge with buttercream and strawberry jam.</h4>
        </div>
        <div>
          <h3>Lemon and Lavender Drizzle Cake - $5.95</h3>
          <h4>A light and lovely tea-inspired cake.</h4>
        </div>
        <div>
          <h3>Pavlova - $3.50</h3>
          <h4>Meringue, fresh cream and topped with fruit.</h4>
        </div>
        <div>
          <h3>Cheesecake - $4.50</h3>
          <h4>A rotating variety is available.</h4>
        </div>
      </div>

      <div id="menu-4">
        <h2>Drinks</h2>
        <div>
          <h3>Single Pot of Tea - $5.95</h3>
        </div>
        <div>
          <h3>Pot of Tea for Two - $7.95</h3>
        </div>
        <div>
          <h3>Iced Tea - $3.50</h3>
        </div>
        <div>
          <h3>Cup of Tea To-Go - $3.95</h3>
        </div>
        <div>
          <h3>Cappuccino - $4.50</h3>
        </div>
        <div>
          <h3>Espresso - $2.50</h3>
        </div>
        <div>
          <h3>Coffee - $3.00</h3>
        </div>
        <div>
          <h3>Hot Chocolate - $6.00</h3>
          <h4>Mug with whipped cream, marshmallows, and chocolate flakes</h4>
        </div>
      </div>
    </div>
  </div>
</section>
