<head>
  <link type="text/css" rel="stylesheet" href="static/css/nav.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato&family=Righteous&display=swap"
    rel="stylesheet"
  />
</head>
<nav>
  <h1><a href="/">Olde English Creamery</a></h1>

  <div id="links">
    <ul>
      <li id="menu-btn"><a href="/menu">View Menu</a></li>
      <li id="res-btn"><a href="/reservation">Make a Reservation</a></li>
    </ul>
  </div>
</nav>
