<section id="tea-wine" class="active">
  <h2 id="tea-title">Tea & Wine</h2>
  <div id="menu">
    <div id="col-1">
      <h2>Loose Leaf Tea List</h2>
      <div>
        <h3>Angel's Dream</h3>
        <h4>
          This black tea lives up to its heavenly name, with a maple sweetness
          and full-flavoured Assam and a mystery green tea.
        </h4>
      </div>
      <div>
        <h3>Buckingham Palace Blend</h3>
        <h4>
          Our signature tea is a popular blend which boasts jasmine and hints of
          bergamot and served annually at the Buckingham Palace Garden Party in
          London.
        </h4>
      </div>
      <div>
        <h3>Earl Grey</h3>
        <h4>Fine quality black tea with natural oil of bergamot.</h4>
      </div>
      <div>
        <h3>Indian Spice Chai</h3>
        <h4>
          Superb body with mellow Indian spice notes and best enjoyed with milk
          and a little sugar.
        </h4>
      </div>
      <div>
        <h3>Lady Blue</h3>
        <h4>
          A unique black tea taste with passionfruit, grapefruit, orange, and
          grenadine flavors.
        </h4>
      </div>

      <div>
        <h3>Lady Godiva</h3>
        <h4>
          A sexy blend of chocolate and caramel Raoibas known for its herbaceous
          character and long, smooth finish.
        </h4>
      </div>
      <div>
        <h3>Lady Grey</h3>
        <h4>A variation of Earl Grey with hints of orange and lemon peel.</h4>
      </div>
    </div>
    <!--
      <div>
        <h3>Lady Lavender</h3>
        <h4>A delicious black tea with a balance of bergamot and lavender.</h4>
      </div>
      <div>
        <h3>Lady Londonderry</h3>
        <h4>
          A black tea with calendula and sunflower petals with hints of
          strawberries.
        </h4>
      </div>
      <div>
        <h3>Oolong Orange Blossom</h3>
        <h4>
          This subtle black tea is warming with a hint of orange and and jasmine
          notes.
        </h4>
      </div>
      <div>
        <h3>Organic English Breakfast Blend</h3>
        <h4>
          A good body and full black tea flavour, which is especially enticing
          with milk.
        </h4>
      </div>
      <div>
        <h3>Yummy Berry Herbal (Caffeine Free)</h3>
        <h4>Wild currant and fruity tasting blend.</h4>
      </div>
      <h3>
        All tea is available to go in four-ounce bags... ask server for specials
        and prices.
      </h3>
    </div> -->

    <div id="col-2">
      <div id="menu-2">
        <h2>Wine List</h2>
        <div>
          <h3>Sparkling and Rose</h3>
          <h4>Clos Amador Brut (Spain) - $9.00</h4>
          <h4>Lavendette Rose (2018) (France) - $9.00</h4>
        </div>
        <div>
          <h3>White</h3>
          <h4>Bordeaux Sauvignon Blanc (2017) (France) - $8.00</h4>
          <h4>Von Muller Riesling (2017) (Mosel) - $9.00</h4>
          <h4>Clos Anais Chardonnay (2018) (Napa Valley) - $9.50</h4>
          <h4>White Wine Spritzer - $8.00</h4>
        </div>
        <div>
          <h3>Red</h3>
          <h4>Marchigue Carmenere (2017) (Chile) - $9.00</h4>
          <h4>Chateau de Paraza (2017) (France) - $9.00</h4>
        </div>
      </div>
    </div>
  </div>
</section>
