<!DOCTYPE html>
<head>
    <link type='text/css' rel='stylesheet' href='static/css/main.css'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Benne&family=Courgette&family=Sonsie+One&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('./partials/navigation'); %>
</body>
</html>

