<!DOCTYPE html>
<head>
    <link type='text/css' rel='stylesheet' href='static/css/contact.css'>
</head>
<body>
    <%- include('./partials/navigation'); %>
    <main>
        <div id='col-1'>

        </div>
        <div id='col-2'>
            <form></form>
        </div>
    </main>

    <%- include('./partials/footer'); %>
</body>
</html>