<!DOCTYPE html>
<head>
  <link type='text/css' rel='stylesheet' href='static/css/home.css'>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Benne&family=Courgette&family=Sonsie+One&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,400;1,600&display=swap" rel="stylesheet">
</head>
<body>
 <%- include('./partials/navigation'); %>
  <main>
    <section>
      <h3>Authentic English bistro located in the heart of Downtown Pensacola</h3>
      <img id='lunch-img' src='static/images/Old English Creamery/Old English Creamery/OEC Lunch.jpg'> 
    </section>
    <section>
       <img id='front-img' src='static/images/Old English Creamery/Hero Main.jpg'> 
      <h3>Enjoy British cuisine in Pensacola's<br>historic district</h3>
    </section>
  </main><hr>

  <section id='res-info'>
    <h2>We encourage reservations and accept walk-ins!</h2>
    <h4>We are open for normal operations for indoor seating in accordance with updated Florida regulations. We will continue with enhanced cleaning processes and all employees who are not vaccinated will wear masks. Customers and vaccinated employees have the option to wear masks.</h4>
    <button><a href='/reservation'>Make a Reservation</a></button>
  </section><hr>
  <footer>
    <p>Olde English Creamery</p>
    <div>
      <p>221 E Zaragoza St, Pensacola, FL 32502</p>
      <p>(850) 542-7969</p>
    </div> 
  </footer>
</body>
</html>
