@media (min-width: 320px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #e6e8e6;
  }

  #full-title {
    margin-top: 45px;
  }
  #menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #col-1,
  #col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h2 {
    text-align: center;
  }
  #full-title,
  #tea-title,
  #catering-title {
    font-size: 30px;
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: #c17767;
    color: #6a040f;
  }
  h3 {
    color: #012b51;
    text-align: center;
  }
  h4 {
    text-align: center;
    padding: 5px 15px 5px 15px;
  }
  ul {
    text-decoration: none;
  }
  li {
    text-align: center;
  }
  .active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .inactive {
    display: none;
  }
}
@media (min-width: 768px) {
  #full-lunch {
    padding-top: 55px;
  }
  #menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  #col-1,
  #col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
  }
}
